body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

#navbar {
  min-width: 300px;  
  border: 1px solid red;
  width: 20%;
  position: fixed;
  align-self: flex-start;
  overflow-y: scroll;
    top: 0;
    bottom: 0;
}

#main-doc {
  width: 80%;
  align-self: flex-end;
  margin-left: 18%;
  margin-top: 3%;
}

#navbar > header {
  margin-left: 7%;
  font-weight: inherit;
  font-family: sans-serif;
  font-size: x-large;
  margin-top: 6%;
}

.nav-link {
  margin-left: 7%;
  text-decoration: none;
  color: gray;
  font-family: sans-serif;
  font-size: initial;
}

nav > p {
  border-top: 1.5px solid dimgray;
  font-size: 110%;
  padding: 1.7%;
  margin-top: 8%;
}

section > header {
  
  font-family: "Open Sans", Arial, sans-serif;
  margin-left: 5%;
  font-size: xx-large;
  margin-bottom: 2%;
}

section > p {
  margin-left: 7%;
  color: darkslategray;
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
}

section > ul > li {
  margin-bottom: 2%;
  margin-left: 9%;
  color: darkslategray;
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
}

code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 2% 2% 2% 10%;
    border-radius: 5px;
    font-family: monospace;
}

#nested-ul{
    margin-left: 10%;
}

#nested-ul > li{
    margin-bottom: 2%;
}

